.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

body{
    max-width: 1600px;
    border: 1px solid wheat;
    margin: 0 auto;
    background-color: #1A0B2E;
}

/* navBar */

header nav h3{
    font-size: 48px;
    font-weight: 800;
    color: #FFFFFF;
}

.wave{
    background: linear-gradient(
    45deg,
    #6d2dd3,
    #c83cff,
    #ff3cac
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tw{

  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #c83cff;
  width: 0;
  animation: typing 4s steps(8) infinite,
            blink 0.7s step-end infinite;
}

@keyframes typing{
  0%{

    width: 0;
  }
  40%{

    width: 9ch; 
  }
  60%{

    width: 9ch;
  }
  100%{

    width: 0;
  }
}
@keyframes blink{
  50%{

    border-color: transparent;
}
}

.btn{
    width: 135px;
    height: 44px;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    border-radius: 50px;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: white;
    font-weight: 600;
    transition: box-shadow 0.3s ease;
}

.btn:hover{
    transform: scale(1.20);
    transition: transform 200ms ease-in-out 0s;
    cursor: pointer;
      box-shadow:
        0 0 10px #2b1172,
        0 0 20px #c276ab,
        0 0 40px #d6b8af;
    
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 32px;
}

.navbar ul li a{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.navbar ul li a:hover{
    transform: scale(1.20);
    transition: transform 200ms ease-in-out 0s;
    cursor: pointer;
      box-shadow:
        0 0 10px #2b1172,
        0 0 20px #c276ab,
        0 0 40px #d6b8af;
}


/* Hamburger hide for large devices */
.burger{
    display: none;
}

/* banner part */
.banner-part{
    height: 760px;
    border-top: 1px solid #2A186C;
    background-image: url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;

}

.new{

    position: relative;
    top: -350px;
    right: -130px;
    cursor: pointer;
    /* transition: box-shadow 0.3s ease; */

}
.new:hover{
    
    border-radius: 60px;
    transform: scale(1.20);
    transition: transform 200ms ease-in-out 0s;
     box-shadow:
        0 0 6px rgba(108, 255, 141, 0.6),
        0 0 14px rgba(108, 255, 141, 0.4);
        background: rgba(108, 255, 141, 0.08);
}

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-img{
    height: 350px;
    width: 350px;
    background-image: url('../assets/hero-circle.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.banner-img:hover{

    border-radius: 50%;
    transform: scale(1.20);
    transition: transform 200ms ease-in-out 0s;
    cursor: pointer;
      box-shadow:
        0 0 10px #2b1172,
        0 0 20px #c276ab,
        0 0 40px #d6b8af;
}

.banner-info h2{

    font-size: 60px;
    font-weight: 800;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 4px;

}
.banner-info p{
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
}

.banner-buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn2{
    width: 201px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    /* font-size: 16px;
    font-weight: 600; */
}


.btn2 p{
    font-size: 16px;
    font-weight: 600;
}
.btn2 .sptf{
    height: 20px;
    width: 20px;
}

.btn3{
    width: 147px;
    height: 44px;
    border: 1px solid #00FF88;
    display: flex;
    flex-direction: row;
    gap: 7px;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    background-color: transparent;
    border-radius: 10000px;
    cursor: pointer;
    transition: 0.3 ease;
}

.btn3:hover{

    transform: scale(1.20);
    transition: transform 200ms ease-in-out 0s;
     box-shadow:
        0 0 6px rgba(108, 255, 141, 0.6),
        0 0 14px rgba(108, 255, 141, 0.4);
        background: rgba(108, 255, 141, 0.08);
}

.btn3 p{
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
}

/* About part */

/* .inSec2{
    margin-bottom: 120px;
} */
.about-info{

    padding-top: 50px;
    padding-right: 200px;
    padding-left: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}
.about-info h3{
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 0px;

}

.about-info p{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 20px;
    
}

.divide{
    height: 1px;
    color: #2A186C;
}

.rating-cards{
    margin-top: 160px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding-bottom: 120px;
}

.rcard h2{
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    color: #00FF88;
    margin-bottom: 0px;
}

.rcard p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF
}


/* WHY CHOOSE PART */

.sec3{
    background-color: #251041;
    padding: 120px 200px 120px 200px;
}

.sec3 h2{
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    padding-bottom: 40px;
    text-align: center;

}

.wcCards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
}

.card{
    padding: 40px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16;
    cursor: pointer;
    transition: 0.3 ease;
}

.card:hover{
    transform: scale(1.20);
    transition: transform 200ms ease-in-out 0s;
    cursor: pointer;
      box-shadow:
        0 0 10px #2b1172,
        0 0 20px #c276ab,
        0 0 40px #d6b8af;
    
}

.card h3{
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 0px;
}

.card p{
    color: whitesmoke;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    /* line-height: 24px; */
}

.one{
    grid-row: span 2;
}

.two{
    grid-column: span 2;
}
.three{
    grid-column: span 2;
}

.four{
    grid-column: span 2;
}

.five{
    grid-column: span 1;
}

/* Episodes Part */


.episodes{
    padding: 120px 200px;
}
.episodes h2{
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
}

.epCards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

iframe{
    border-radius: 24px 24px 0px 0px;
}

.iv{
    background-color: #250D44;
    height: 225px;
    padding: 24px;
    border-radius: 0px 0px 24px 24px;
    
}

.iv h3{
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 0px;
}

.iv p{
    font-size: 16px;
    font-weight: 400;
    color: whitesmoke;
}
.time{
    display: flex;
    align-items: center;
    gap: 4px;
    
}
.time P{
    color: #00FF88;
    font-size: 16px;
    font-weight: 600;
}

.epCard{
    transition: 0.25s ease;
    cursor: pointer;
}

.epCard:hover{
    transform: scale(1.25);
    border-color: #ff3c3c;
    box-shadow:
        0 0 0 2px rgba(255, 60, 60, 0.9),  
        0 0 12px rgba(255, 60, 60, 0.7),
        0 0 28px rgba(255, 60, 60, 0.5),
        0 0 50px rgba(255, 60, 60, 0.35);
}
.host-info{

    background-color: #250D44;
    padding: 40px;
    border-radius: 30px;
    display: flex;
    gap: 15px;
    transition: 0.25s ease;
    cursor: pointer;
}

.host-info:hover{
     transform: scale(1.25);
    border-color: #ff3c3c;
    box-shadow:
        0 0 0 2px rgba(255, 60, 60, 0.9),  
        0 0 12px rgba(255, 60, 60, 0.7),
        0 0 28px rgba(255, 60, 60, 0.5),
        0 0 50px rgba(255, 60, 60, 0.35);
}

.host-inf h3{
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 2px;

}

.host-inf p{

    font-size: 16px;
    font-weight: 400px;
    color: whitesmoke;

}

.icons{
    display: flex;
    gap: 8px;

}

.icons img{
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 50%;
    padding: 10px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* footer */
footer{
    height: 412px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/footer-bg.png);
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

.footerPart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: -80px;
}

.footerPart h3{
    font-size: 80px;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 0px;

}
.scl{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: 0.3 ease;
}
.scl:hover{

    border-radius: 50px;
    padding: 5px;
    transform: scale(1.20);
    transition: transform 200ms ease-in-out 0s;
    cursor: pointer;
      box-shadow:
        0 0 10px #2b1172,
        0 0 20px #c276ab,
        0 0 40px #d6b8af;
}
.scl img{
    width: 24px;
    height: 24px;
    object-fit: contain;
    flex-shrink: 0;
}

.icon2{
    display: flex;
    /* gap: 24px; */
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.scl p{
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}

.cpy{
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}



@media screen and (max-width:576px){

    .navbar ul,
    .subs{

        display: none;
    }

    .burger{
        display: block;
    }

    .navbar h3{
        font-size: 32px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }

    .banner-part{
        padding: 40px 20px 40px 20px;
        background-position-y: 70px;
        height: 100%;
    }
    .banner-info h2{
        font-size: 20px;
    }
    .banner-img{
        height: 200px;
        width: 200px;
    }
    .banner-img img{
        height: 70px;
    }
/* 
    .sec2{
        width: 440px;
    } */
     /* .sec2{
        padding: 20px;
     } */
     .about-info{
        padding: 10px;
     }

    .about-info h3{
        font-size: 32px;
    }
    .rating-cards{
        margin-top: 0px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 16px  ;

    }

    .sec3{
        padding: 2px 20px;
    }
    .sec3 h2{
        margin-top: 20px;
        font-size: 25px;
        text-align: center;
        margin-bottom: 0px;
    }
    .wcCards{
        grid-template-columns: repeat(1,1fr);
    }

    .card{
        grid-column: span 1;
        grid-row: span 1;
    }

    .episodes {
    padding-left: 0px;
    padding-right: 20px;
  }

    

    .episodes h2{
        font-size: 32px;
    }

    .epCards{
       grid-template-columns: repeat(1,1fr);
    }
    
    .host-info{

    background-color: #250D44;
    padding: 40px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    }

    .icons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .footerPart h3{
    font-size: 32px;
    }

    footer{
        background-position: center;
        background-position-y: 70px;
        height: 100%;
        min-height: 248px; 

    }

    .footerPart h3{
        font-size: 32px;
    }

    .footerPart{
        padding: 40px 40px;
        min-height: 150px;
        align-items: center;
    }
    .icon2{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        column-gap: 16px;
        row-gap: 16px;
    }

    .new{

    position: relative;
    top: -200px;
    right: -90px;

   }


}