.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

body{
    max-width: 1600px;
    border: 1px solid wheat;
    margin: 0 auto;
    background-color: #1A0B2E;
}

/* navBar */

header nav h3{
    font-size: 48px;
    font-weight: 800;
    color: #FFFFFF;
}

.wave{
    background: linear-gradient(
    45deg,
    #6d2dd3,
    #c83cff,
    #ff3cac
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn{
    width: 135px;
    height: 44px;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: white;
    font-weight: 600;
}

.btn:hover{
    transform: scale(1.20);
    transition: transform 200ms ease-in-out 0s;
    cursor: pointer;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 32px;
}

.navbar ul li a{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #FFFFFF;

}

/* Hamburger hide for large devices */
.burger{
    display: none;
}

/* banner part */
.banner-part{
    height: 760px;
    border-top: 1px solid #2A186C;
    background-image: url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-img{
    height: 350px;
    width: 350px;
    background-image: url('../assets/hero-circle.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-info h2{

    font-size: 60px;
    font-weight: 800;
    text-align: center;
    color: #FFFFFF;

}
.banner-info p{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
}

.banner-buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn2{
    width: 201px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 12px 20px;
    /* font-size: 16px;
    font-weight: 600; */
}
.btn2 p{
    font-size: 16px;
    font-weight: 600;
}
.btn2 .sptf{
    height: 20px;
    width: 20px;
}

.btn3{
    width: 147px;
    height: 44px;
    border: 1px solid #00FF88;
    display: flex;
    flex-direction: row;
    gap: 7px;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    background-color: transparent;
    border-radius: 10000px;
}
.btn3 p{
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
}








































@media screen and (max-width:576px){

    .navbar ul,
    .subs{

        display: none;
    }

    .burger{
        display: block;
    }

    .navbar h3{
        font-size: 16px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }
}