.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

body{
    max-width: 1600px;
    border: 1px solid wheat;
    margin: 0 auto;
    background-color: #1A0B2E;
}

/* navBar */

header nav h3{
    font-size: 48px;
    font-weight: 800;
    color: #FFFFFF;
}

.wave{
    background: linear-gradient(
    45deg,
    #6d2dd3,
    #c83cff,
    #ff3cac
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn{
    width: 135px;
    height: 44px;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: white;
    font-weight: 600;
}

.btn:hover{
    transform: scale(1.20);
    transition: transform 200ms ease-in-out 0s;
    cursor: pointer;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 32px;
}

.navbar ul li a{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #FFFFFF;

}

/* Hamburger hide for large devices */
.burger{
    display: none;
}

/* banner part */
.banner-part{
    height: 760px;
    border-top: 1px solid #2A186C;
    background-image: url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-img{
    height: 350px;
    width: 350px;
    background-image: url('../assets/hero-circle.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-info h2{

    font-size: 60px;
    font-weight: 800;
    text-align: center;
    color: #FFFFFF;

}
.banner-info p{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
}

.banner-buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn2{
    width: 201px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 12px 20px;
    /* font-size: 16px;
    font-weight: 600; */
}
.btn2 p{
    font-size: 16px;
    font-weight: 600;
}
.btn2 .sptf{
    height: 20px;
    width: 20px;
}

.btn3{
    width: 147px;
    height: 44px;
    border: 1px solid #00FF88;
    display: flex;
    flex-direction: row;
    gap: 7px;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    background-color: transparent;
    border-radius: 10000px;
}
.btn3 p{
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
}

/* About part */

/* .inSec2{
    margin-bottom: 120px;
} */
.about-info{

    padding-top: 50px;
    padding-right: 200px;
    padding-left: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}
.about-info h3{
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 0px;

}

.about-info p{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 20px;
    
}

.divide{
    height: 1px;
    color: #2A186C;
}

.rating-cards{
    margin-top: 160px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding-bottom: 120px;
}

.rcard h2{
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    color: #00FF88;
    margin-bottom: 0px;
}

.rcard p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF
}


/* WHY CHOOSE PART */

.sec3{
    background-color: #251041;
    padding: 120px 200px 120px 200px;
}

.sec3 h2{
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    padding-bottom: 40px;
    text-align: center;

}

.wcCards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
}

.card{
    padding: 40px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16;
}

.card h3{
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 0px;
}

.card p{
    color: whitesmoke;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    /* line-height: 24px; */
}

.one{
    grid-row: span 2;
}

.two{
    grid-column: span 2;
}
.three{
    grid-column: span 2;
}

.four{
    grid-column: span 2;
}

.five{
    grid-column: span 1;
}

/* Episodes Part */


.episodes{
    padding: 120px 200px;
}
.episodes h2{
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
}

.epCards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

iframe{
    border-radius: 24px 24px 0px 0px;
}

.iv{
    background-color: #250D44;
    height: 225px;
    padding: 24px;
    border-radius: 0px 0px 24px 24px;
    
}

.iv h3{
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 0px;
}

.iv p{
    font-size: 16px;
    font-weight: 400;
    color: whitesmoke;
}
.time{
    display: flex;
    align-items: center;
    gap: 4px;
    
}
.time P{
    color: #00FF88;
    font-size: 16px;
    font-weight: 600;
}

.host-info{

    background-color: #250D44;
    padding: 40px;
    border-radius: 30px;
    display: flex;
    gap: 15px;
}

.host-inf h3{
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 2px;

}

.host-inf p{

    font-size: 16px;
    font-weight: 400px;
    color: whitesmoke;

}

.icons{
    display: flex;
    gap: 8px;

}

.icons img{
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 50%;
    padding: 10px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}






































@media screen and (max-width:576px){

    .navbar ul,
    .subs{

        display: none;
    }

    .burger{
        display: block;
    }

    .navbar h3{
        font-size: 16px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }

    .banner-part{
        padding: 40px 20px 40px 20px;
        background-position-y: 70px;
        height: 100%;
    }
    .banner-info h2{
        font-size: 20px;
    }
    .banner-img{
        height: 200px;
        width: 200px;
    }
    .banner-img img{
        height: 70px;
    }
/* 
    .sec2{
        width: 440px;
    } */
     /* .sec2{
        padding: 20px;
     } */
     .about-info{
        padding: 10px;
     }

    .about-info h3{
        font-size: 32px;
    }
    .rating-cards{
        margin-top: 0px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 16px  ;

    }

    .sec3{
        padding: 2px 20px;
    }
    .sec3 h2{
        margin-top: 20px;
        font-size: 25px;
        text-align: center;
        margin-bottom: 0px;
    }
    .wcCards{
        grid-template-columns: repeat(1,1fr);
    }

    .card{
        grid-column: span 1;
        grid-row: span 1;
    }
}